@import url('https://fonts.googleapis.com/css2?family=Caveat&family=DM+Sans&family=Patrick+Hand&family=Permanent+Marker&family=Rubik&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}

nav{
    font-family: 'Rubik', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-family: 'Permanent Marker', cursive;
}

#image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 32rem;
    /* border-radius: 1rem; */
}

#identitas-diri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: 'Rubik', sans-serif;
}

#pp{
    max-width: 32rem;
    max-height: 18rem;
    padding: 0;
}

#cardd{
    /* height: 56rem;
    margin: 1rem; */
    border-style: solid;
    border-radius: 0.5rem;
    border-color: skyblue;
    text-align: justify;
}

#port-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}